<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>U - UI</title>

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/github.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <!-- Main structure -->
    <main id="app">
        <header>
            <h1 class="logo"><img src="img/logo.png" /></h1>
        </header>
        <section id="summary">
            <h1>Total of {{ (uReport.summary.asserts.ok + uReport.summary.asserts.nok) }} asserts</h1>
            <div class="bar">
                <div class="ok" v-style="styleOk" title="{{ uReport.summary.asserts.ok }} asserts passed">{{ uReport.summary.asserts.ok }}</div>
                <div class="nok" v-style="styleNok" title="{{ uReport.summary.asserts.nok }} asserts failed">{{ uReport.summary.asserts.nok }}</div>
            </div>
        </section>
        <section id="tests">
            <u-group v-repeat="uReport.report"></u-group>
        </section>
    </main>

    <script type="text/template" id="u-group-template">
        <article class="container-test" v-class="open: opened" v-attr="data-u: status ? 'pass' : 'error'">
            <header v-on="click: opened = !opened">
                <span class="fa" v-class="fa-times: !status, fa-check: status"></span>
                <h1>{{ title }}</h1>
                <span class="fa fa-plus right gray"></span>
                <span class="fa fa-minus right gray"></span>
            </header>
            <section class="content">
                <p>{{ description }}</p>
                <template v-repeat="r:report">
                    <template v-if="r.report">
                        <u-group v-with="r"></u-group>
                    </template>

                    <template v-if="!r.report">
                        <div v-attr="data-u: r.status ? 'pass' : 'error'" v-on="click: r.opened = !r.opened">
                            <span class="fa" v-class="fa-times: !r.status, fa-check: r.status"></span>
                            {{ r.title }}

                            <div class="snippet" v-class="open: r.opened">
                                <p v-repeat="r.trace" v-class="highlight: highlight"><span>{{ line }}</span> <code class="php" v-html="code"></code></p>
                            </div>
                        </div>
                    </template>
                </template>
            </section>
        </article>
    </script>

    <script src="js/vendor/highlight.pack.js"></script>
    <script src="js/vendor/vue.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
